@charset "utf-8";
/* CSS Document */

/******************************
	Master Type Classes
*******************************/


.header { 
	font-size: 150px;
	line-height: 100%;
	position:absolute;
	width: 800px;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-430px;
	
		
}


.white {

	color:#FFF;	
}

.fade {
	
	opacity: 0.2;

	
}

.black_font {
	font-weight:900;


}

.italic {
	font-style:italic;
	font-weight:400;
	
}
	

.bold {
	
	font-weight:600;
	
}

p {
		-ms-word-break: break-all;
		 word-break: break-all;
		 word-break: break-word;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
			hyphens: auto;
	
}



#header1 {
	
	font-family:"ff-meta-web-pro";
	font-weight:900;
	
}

.title {
	
	font-size: 30px;
	line-height: 120%;
	position: absolute;
	top: 60px;
	left:10px;
	margin-left: 200px;
	right: auto;
	
	
}


.col1 {
	
	position:absolute;
	top: 60px;
	left: 70px;
	width: 360px;
	margin-left:310px;
	display:block;
	
}

.col1  p {
	
	font-size: 14px;
	line-height: 120%;
	margin-top: 10px;
	
}

.col2 {
	position:absolute;
	top:60px;
	left: 760px;
	display:block;
	width: 360px;
	margin-top:0;
	margin-left:0;
	
}

.col2  p{
	font-size: 14px;
	line-height: 120%;
	margin-top: 10px;
	
}
.intro { 

font-family: "ff-meta-serif-web-pro";
	
}

.meta { 

font-family: "ff-meta-web-pro";
	
}


.dax{ 

font-family: "ff-dax-web-pro";
	
}

.mach { 

font-family: "ff-mach-web-pro";
	
}

.ernestine { 

font-family: "ff-ernestine-web-pro";
	
}

.netto { 

font-family: "ff-netto-web";
	
}
	
	
/******************************
	General Styles
*******************************/

html,body{
	width:100%;
	height:100%;
}

.navigation{
	position:fixed;
	z-index:1;
	top:20px;
}
.navigation li{
	color:rgba(0,0,0,.5);
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .1s ease-in-out;
	border-bottom:1px solid;
	border-bottom-color:rgba(0,0,0,.1);
	text-align:left;
	width:170px;
}
.navigation li:hover,.active{
	font-size:25px;
	cursor:pointer;
	width:250px!important;
}
.logo{
	position:fixed;
	top:65%;
	left:50%;
	width:700px;
	margin-top:-225px;
	margin-left:-335px;
	z-index:1;
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{
	width:1280px;
	height:auto;
	margin:0 auto;
	position:relative;
}
.slideno{
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:100px;
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color:#333333;
	background-image:url(../images/arrow.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-color:#FF0;
	
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-color:#39F;
	
}
#slide2 img:first-child{
		position:absolute;
		top: 290px;
		left: 870px;
}
#slide2 img:nth-child(2){
	position:absolute;
		top: 290px;
		left: 760px;}

/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color: rgba(204,51,51,0.8);
}
#slide3 img:first-child{
	position:absolute;
		top: 0px;
		left: 860px;
}
#slide3 img:nth-child(2){
	position:absolute;
		top: 290px;
		left: 760px;
}

/******************************
 SLIDE 4 
*******************************/

#slide4{

	background: rgba(153,102,255,1);
}

#slide4 img:first-child{
		position:absolute;
		top: 180px;
		left: 760px;
}
#slide4 img:nth-child(2){
	position:absolute;
		top: 290px;
		left: 760px;
}

/******************************
 SLIDE 5 
*******************************/

#slide5{

	background: rgba(233,125,79,1);
}

#slide5 img:first-child{
		position:absolute;
		top: 360px;
		left: 760px;
}
#slide5 img:nth-child(2){
		position:absolute;
		top: 290px;
		left: 760px;
}

/******************************
 SLIDE 6 
*******************************/

#slide6{

	background: rgba(51,102,102,0.9);
}

#slide6 img:first-child{
		position:absolute;
		top: 150px;
		left: 760px;
}
#slide6 img:nth-child(2){
		position:absolute;
		top: 290px;
		left: 760px;
}


/******************************
Designer in Context
*******************************/
.essay {
	
	width: 500px;
	position:absolute;
	top: 200px;
	left: 50px;
	
	
}

.essay p {
	
	font-size:22px;
	background-color: rgba(51,51,51,.1);
	padding: 10px;
	line-height:120%;
}

.essay h2 {
	padding-left:10px;
	font-size:50px;
	line-height: 90%;
	
	
}