*{
	margin:0px;
	padding:0px;
	}

#main_container{
	width:650px;
	height:630px;
	margin-top:20px;
	margin-right:auto;
	margin-bottom:0px;
	margin-left:auto;
	padding-top:40px;
	background-color:#ffffff;
	background-image: url(AE.png);
	background-repeat: no-repeat;
	background-position: 0px, 20px;
	}

body{
	background-color:#999999
	}
	
#a_container{
	float:left;
	width:75px;
	height:75px;
	margin-top:50px;
	margin-left:230px;
	}

#alignment_container{
	float:left;
	width:125px;
	height:100px;
	margin-left:100px;
	}
	
#text_container{
	float:left;
	width:255px;
	height:450px;
	margin-top:1px;
	margin-left:25px;
	margin-right:100px;
	}

p{
	font-family:georgia;
	font-size:14px;
	line-height:26px;
	}
	
h1{
	font-family:georgia;
	font-weight:normal;
	font-size:70px;
	line-height:70px;
	}
	
h2{
	font-family:georgia;
	font-weight:bold;
	font-size:16px;
	line-height:26px;
	text-align:right;
	}
	
.titles{
	font-style:italic;
	}
	
.emphasis{
	font-weight:bold;
	}