@charset "UTF-8";
/* CSS Document */

body { 
		width: 970px;
		height: auto;
		margin-top: px;
		margin-right: auto;
		margin-bottom: 40px;
		margin-left: auto;
		background-color: #CCC;
		overflow: hidden;
	
}

.centered {
			margin:auto;
			padding: 10px;
			background-color:rgb(21,121,121);
			box-shadow: 10px;
			
				
	
}

h1 {
		text-align: center;
		margin-top: 40px;
		margin-bottom: 30px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 80px;
		text-transform:uppercase;
		font-weight:bold;
		
		letter-spacing:10px
	

}

.tighter { 
			letter-spacing: -60px;

}

h2 {
		text-align: center;
		margin-top: 40px;
		margin-bottom: 30px;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-style:oblique;
		font-size:350px;
		letter-spacing:-20pt;
		color: #000;
	

}



h3 {
		text-align: center;
		margin-top: 40px;
		margin-bottom: 30px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight:bold;
		text-transform:uppercase;
		color: #F60;
		letter-spacing:30px
	

}


h4 {
		text-align: center;
		margin-top: 40px;
		margin-bottom: 30px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:bold;
		text-transform:uppercase;
		color: #F60;
	

}