@charset "UTF-8";
/* CSS Document */

#main_container{
	
	width:700px;
	height:auto;
	margin: 50px auto 20px auto;
	padding-top:60px;
	background-color:#FFF;
	overflow:hidden;
	
}

* {
	
	margin:0px;
	padding:0px;
	
}

h1 {
	margin-left: 190px;
	
	
}
body {
	font-family:Helvetica, sans-serif;
	background-color: #ccc;
	
}

#web_type_container {

	width:300px;
	height:auto;
	float:right;
	margin-top:25px;
	padding-left:25px;
	overflow:hidden;
	
}

#book_type_container {
	
	width: 300px;
	height: auto;
	float: right;
	margin-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	overflow:hidden;
	
}

#footer {
	
	width:100%;
	height:auto;
	float:left;
	padding-top:12px;
	padding-bottom:13px;
	background-color:#999999;
	overflow:hidden;
	
}


#links_list li{
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
		
}


#footer_list li {

	list-style:none;
	margin-bottom:7px;
		
}

#footer_list {

margin-left: 170px;

	
}

#footer_list li {
	
	list-style:none;
	display:inline;
	padding-left: 5px;
	padding-right: 5px;
	
}

a:link {
	
	color: #264573;
	text-decoration: none;
	
}

a:visited {

	color: #264573;
	text-decoration: none;	
}

a:hover {
	
	color:#ba6647;
	text-decoration: none;
		
}

a:active {
	
	color: #ba6647;
	text-decoration: underline;
	
}
